.NotificationsMenu {
    max-height: 300px;
    overflow-y: auto;
}

a.NotificationItem {
    border-bottom: 1px solid lightgray;
}

.NavDropdownButton {
    background: none;
    border: none;
}

button .NavDropdownButton:hover,
button .NavDropdownButton:focus,
button .NavDropdownButton:active {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: black;
}

.NavDropdownItem:hover {
    background-color: var(--bs-secondary);
    color: black;
}
