.NavBar {
    margin-top: 1em;
    border-bottom: 2px solid var(--bs-secondary);
    border-top: 2px solid var(--bs-secondary);
    font-size: 1.5em;
}

.NavBar .NavDropdownButton {
    background-color: transparent;
    border: none;
    color: #242424;
}

.NavBar button.NavDropdownButton:hover,
.NavBar button.NavDropdownButton:focus,
.NavBar button.NavDropdownButton:active {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: black;
}

.NavBar .NavDropdownItem:hover {
    background-color: var(--bs-secondary);
    color: black;
}

.NotificationsMenu {
    max-height: 300px;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: min-content;
}

a.NotificationItem {
    border-bottom: 1px solid lightgray;
}