:root {
    --bs-primary: #225372;
    --bs-secondary: #8dba92;
    --bs-primary-disabled: #5f7380;
    --bs-body-bg: #f4ede4;
    --bs-input-bg: #f6f5f4;
    --bs-body-color: #4a4a4a;
    --bs-success: #37a25e;
    --bs-danger: #e76f51;
    --bs-info: #70bbd6;
    --bs-warning: #f4a261;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

body,
p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4a4a4a;
}

h1,
h2 {
    color: var(--bs-primary);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

a {
    color: var(--bs-primary);
}

.App {
    background-color: #f4ede4;
}

/* Custom Bootstrap Overrides */

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #ffffff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: #242424;
}

.btn.btn-primary:disabled {
    background-color: var(--bs-primary-disabled);
    border-color: var(--bs-primary-disabled);
    color: #ffffff;
}

.icons {
    color: #e76f51;
}

/* Global style for Nav.Link */
.nav-link {
    color: #4a4a4a;
}

.nav-link:hover {
    color: black;
}

/* Input Styling */

.form-floating > .form-control,
.form-floating > .form-select {
    background-color: var(--bs-input-bg);
}
