:root {
    --bs-primary: #225372;
    --bs-secondary: #8DBA92;
    --bs-body-bg: #F4EDE4;
    --bs-body-color: #4A4A4A;
    --bs-success: #37A25E;
    --bs-danger: #E76F51;
    --bs-info: #70BBD6;
    --bs-warning: #F4A261;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

body,
p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4A4A4A;
}

h1,
h2 {
    color: var(--bs-primary);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;

}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

a {
    color: var(--bs-primary);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #ffffff;
}

.icons {
    color: #E76F51;
}